In [1]:
import pandas as pd

In [2]:
df_shark=pd.read_csv("input/GSAF5.csv", encoding="windows-1250")
df_shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
df_shark.shape

(5992, 24)

In [71]:
df_shark.isnull().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     40
Area                       346
Location                   430
Activity                   375
Name                        62
Sex                          0
Age                       2154
Injury                      13
Fatal                       13
Time                      2746
Species                   2630
Investigator or Source      14
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [5]:
df_shark["Unnamed: 22"].value_counts()

stopped here    1
Name: Unnamed: 22, dtype: int64

In [6]:
df_shark["Unnamed: 23"].value_counts()

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

In [7]:
#Se eliminan las columnas "Unnamed: 22" y "Unnamed: 23" por: 
#1. tener solo una y dos filas rellenas repectivamente y 
#2. imposibilidad de conocer el significado de estos datos (Los nombres de la columna no son explicativos)

df_shark=df_shark.drop(columns=['Unnamed: 22', 'Unnamed: 23'])
print(df_shark.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [40]:
#Se corrige ennombre de las colmnas "Sex" y "Species" quitandoles el espacio del final.

df_shark=df_shark.rename(columns={'Sex ':'Sex','Species ':'Species', 'Fatal (Y/N)':'Fatal'})
df_shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [9]:
df_shark["Sex"].value_counts()

M      4835
F       585
M         2
N         1
.         1
lli       1
Name: Sex, dtype: int64

In [10]:
unknow_sex=df_shark["Sex"].isnull()
wrong_sex=df_shark["Sex"].isin(['N','lli',"."])

df_shark.loc[unknow_sex | wrong_sex]="U"
df_shark.loc[df_shark["Sex"]=="M ","Sex"]="M"
df_shark["Sex"].value_counts()

M    4837
F     585
U     570
Name: Sex, dtype: int64

_Cheking data_

In [41]:
list(df_shark.Fatal.value_counts().index)

['N', 'Y', 'U', 'UNKNOWN', ' N', '#VALUE!']

In [42]:
df_shark.Fatal.value_counts()

N          3939
Y          1408
U           570
UNKNOWN      53
 N            8
#VALUE!       1
Name: Fatal, dtype: int64

In [48]:
df_shark['sum_U'] = (df_shark == "U").sum(axis=1)
df_shark['sum_U'].value_counts()

0     5422
22     570
Name: sum_U, dtype: int64

In [70]:
df_shark=df_shark.drop(df_shark[df_shark.sum_U>0].index)
df_shark=df_shark.drop(columns=["sum_U"])
df_shark.shape

(5422, 22)