## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [30]:
# Your code here
sample_list_1=random.sample(range(0,101), 80)
print(sample_list_1)

[85, 59, 64, 57, 83, 60, 89, 19, 98, 43, 44, 92, 53, 100, 22, 13, 14, 36, 61, 28, 15, 25, 16, 97, 99, 2, 81, 68, 94, 72, 27, 90, 96, 23, 1, 18, 49, 3, 50, 70, 71, 37, 54, 42, 9, 5, 80, 77, 91, 63, 82, 84, 76, 6, 35, 62, 95, 79, 8, 7, 48, 66, 33, 10, 17, 58, 75, 32, 41, 74, 45, 34, 39, 24, 47, 88, 26, 51, 78, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here
set1=set(sample_list_1)
print(len(set1))
#Si, todos los elementos de la lista original son distintos

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [32]:
# Your code here
sample_list_2=list()
for i in range(80):
    sample_list_2.append(random.randrange(0,101))
print(sample_list_2)

[9, 52, 5, 65, 60, 22, 41, 31, 93, 44, 93, 28, 87, 95, 39, 83, 91, 26, 90, 23, 18, 22, 96, 68, 22, 1, 81, 50, 37, 46, 95, 99, 55, 32, 30, 9, 84, 87, 13, 16, 7, 19, 42, 28, 66, 18, 81, 99, 53, 71, 60, 18, 13, 22, 65, 75, 59, 2, 33, 50, 70, 48, 55, 13, 27, 56, 68, 93, 56, 17, 53, 30, 100, 94, 82, 46, 62, 43, 85, 93]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
#No, existen elementos duplicados el la lista original. Al convertirlo en un SET se deja una unica aparicion de estos.

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [35]:
# Your code here
set3=set1-set2
print(set3)

{3, 6, 8, 10, 14, 15, 24, 25, 34, 35, 36, 45, 47, 49, 51, 54, 57, 58, 61, 63, 64, 67, 72, 74, 76, 77, 78, 79, 80, 88, 89, 92, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [36]:
# Your code here
set4=set2-set1
print(set4)

{65, 46, 52, 87, 55, 56, 93, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [38]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{1, 2, 5, 7, 9, 13, 16, 17, 18, 19, 22, 23, 26, 27, 28, 32, 33, 37, 39, 41, 42, 43, 44, 48, 50, 53, 59, 60, 62, 66, 68, 70, 71, 75, 81, 82, 83, 84, 85, 90, 91, 94, 95, 96, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [44]:
# Your code here
print(len(set1)+len(set2)-(len(set5)*2)==(len(set3)+len(set4)))

True

#### Create an empty set called `set6`.

In [46]:
# Your code here
set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here
set6.update(set3,set5)
print(set6)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here
agregate1=set3.union(set4.union(set5))
agregate2=set1.union(set2)
print(len(agregate1)==len(agregate2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [56]:
# Your code here
print(set1)
print(set1.pop())

{3, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}
3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [58]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
print(set1)

{5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 42, 43, 44, 45, 47, 48, 50, 53, 54, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 88, 90, 92, 94, 95, 96, 97, 98, 100}